{% extends "base.html" %}
{% load static %}

{% block content %}

<br>

<div class="card" style="width: 30rem; border-color: green;">
  <img src="{% static 'ticaretapp/bebek.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Oyuncak Bebek</h5>
    <p class="card-text"><strong>Uzunluk:1 metre <br> Oyuncak Ayı Rengi:Turuncu <br> <h3>Fiyat:400TL</h3></strong></p>
    <a href="{% url 'ticaretapp:casepagebebek' %}" class="btn btn-danger">Satın Al</a>
  </div>
</div>

<br>

<div class="card" style="border-color: green; width: 30rem;">
  <div class="card-body">
      <p class="card-text"><strong>Teslimat Süresi:</strong>6 Saat</p>
  </div>
</div>

<br>

{% endblock %}