{% extends "base.html" %}
{% load static %}

{% block content %}

<br>

<div class="card" style="width: 25rem; border-color: brown;">
    <img src="{% static 'ticaretapp/parfüm.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parfüm</h5>
      <p class="card-text"><strong>Hacim:150 Mililitre <h3>Fiyat:150TL</h3></strong></p>
      <a href="{% url 'ticaretapp:casepageparfüm' %}" class="btn btn-danger">Satın Al</a>
    </div>
  </div>

<br>

<div class="card" style="border-color: brown; width: 25rem;">
  <div class="card-body">
      <p class="card-text"><strong>Teslimat Süresi:</strong>8 Saat</p>
  </div>
</div>

<br>

{% endblock %}