{% extends "base.html" %}
{% load static %}

{% block content %}

<br>

<div class="card" style="width: 25rem; border-color: turquoise;">
  <img src="{% static 'ticaretapp/su.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Su</h5>
    <p class="card-text"><strong>Hacim:1 Litre <br> <h3>Fiyat:15TL</h3></strong></p>
    <a href="{% url 'ticaretapp:casepagesu' %}" class="btn btn-danger">Satın Al</a>
  </div>
</div>

<br>

<div class="card" style="border-color: turquoise; width: 25rem;">
  <div class="card-body">
      <p class="card-text"><strong>Teslimat Süresi:</strong>10 Dakika</p>
  </div>
</div>

<br>

{% endblock %}